
.block_anim {
    z-index: 999;
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-1000px, 0, 0);
        transform: translate3d(-1000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-1000px, 0, 0);
        transform: translate3d(-1000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}



/*Logo animation*/
@keyframes logo-color-animation {
    0% {
        background-color: white;
    }

    20% {
        background-color: #242c4a;
    }

    60% {
        background-color: white;
    }

    80% {
        background-color: #242c4a;
    }
    100% {
        background-color: white;
    }
}



/*Logo animation*/
@-webkit-keyframes logo-color-animation2 {
    0% {
        background-color: #242c4a;
    }

    20% {
        background-color: white;
    }

    60% {
        background-color: #242c4a;
    }

    80% {
        background-color: white;
    }
    100% {
        background-color: #242c4a;
    }
}

@keyframes line-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/*Печатающий текст*/
.dsongentom {
    position: relative;
    width: 100% ;
    margin: 0 auto 0 auto ;
    font-size: 24px !important;
    text-align: center ;
    white-space: nowrap ;
    overflow: hidden ;
    transform: translateY(-50%) ;
    color: #242c4a;
    font-family: Bahnschrift;
    text-transform: uppercase;
}

.desetungavon{
    animation: typewriter 4s steps(44) 2s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 22em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

/*Кнопка WhatsUp*/

.email-bt {
    background: #0aa80d;
    border:2px solid #136a03;
    border-radius:50%;
    box-shadow:0 8px 10px rgb(57, 253, 0);
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index:999;

    -webkit-animation:email-an linear 1s infinite;
    animation:email-an linear 1s infinite;
}

.email-bt .text-call{
    height:68px;
    width:68px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.email-bt .text-call a {
    text-align: center;
    color: #158610;
    opacity: 0;
    font-size: 0;
    position:absolute;
    right: 4px;
    top: 25px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-bt .text-call:hover a {
    opacity: 1;
    font-size: 11px;
}
.email-bt:hover i {
    display:none;
}

.email-bt:hover {
    z-index:1;
    background:#fff;
    transition:.3s;
}
.email-bt:hover i {
    color: #9ed2ff;
    font-size:40px;
    transition:.3s;
}
.email-bt i {
    color:#fff;
    font-size:29px;
    transition:.3s;
    line-height: 66px;
}

.email-bt i  {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}




@-webkit-keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(24, 249, 35, 0.3),0 0 0 0 rgba(39, 249, 24, 0.8),0 0 0 0 rgba(24, 249, 61, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(24, 249, 46, 0.3),0 0 0 15px rgba(4, 205, 1, 0.72),0 0 0 0 rgba(65, 249, 24, 0.75)
    }
    80% {
        box-shadow:0 8px 10px rgba(73, 249, 24, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(39, 249, 24, 0.69)
    }
    100% {
        box-shadow:0 8px 10px rgba(58, 249, 24, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
    }
}

@media (max-width: 680px) {
    .email-bt {

        right: 3.5%;
        bottom: 2% !important;

    }
    .dsongentom {

        font-size: 18px !important;
    }


}

/*Конец Кнопка WhatsUp*/